{% extends 'header.html' %}

{% block content %}

    
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Modules </h1>
        <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
        <ul class="list-unstyled">
          <li><a class="nav-link" href="{% url 'signup' %}">Register</a></li>
          <li>Login</li>
		  <li><a class="nav-link" href="{% url 'search' %}">Search</a></li>
		  <li><a class="nav-link" href="{% url 'posts' %}">Posts (CRUD)</a></li>
        </ul>
      </div>


{% endblock %}